<div class="profile">
  <div class="user-profile">
    <div class="user-details">
      <div class="user-avatar">
        <avatar class="user-avatar-circle" [name]="username" [displayType]="'circle'"></avatar>


      </div>
      <div class="user-summary">
        <div class="full-name">{{userInfo.roleName}}</div>

        <div class="full-name">{{userInfo.name}} {{userInfo.surname}}</div>
        <div class="full-name">{{userInfo.username}}</div>




      </div>
    </div>
    <div>
      <tabset class="poll-tab-group">

      </tabset>




    </div>
  </div>
</div>
